* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: white;
    min-height: 45vh;
    width: 45vh;
    padding: 2rem;
    border-radius: 2rem;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.container::after, .container::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: conic-gradient(from var(--angle), #ff4545,#006aff, #ff0095, #ff4545);
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: -1;
        padding: 3px;
        border-radius: 2rem;
        animation: 4s spin linear infinite;
}
.container::before{
        filter: blur(1.5rem);
        opacity: 0.5;
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.head-msg{
    text-align: center;
}

form{
    margin: 2rem 0 1rem 0;
}
form select,button,input{
    width: 100%;
    border: none;
    outline: none;
}
form input{
    border: 2px solid lightgray;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: 550;
    border-radius: 0.5rem;
    padding-left: 1rem;
}

.dropDown i{
    font-size: 1.4rem;
    margin-top: 1.4rem;
}
.dropDown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.select-container img{
    max-width: 2.7rem;
    
}
.select-container{
    width: 5rem;
    border: 2px solid lightgray;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.msg{
    margin: 2rem 0 2rem 0;
    font-size: 1.3rem;
}

form button{
    height: 2.5rem;
    font-size: 1rem;
    border: 2px solid gray;
    border-radius: 1rem;
    background-color: rgba(0, 0, 255, 0.5);
    cursor: pointer;
}


/* phone styling */
@media (max-width: 600px){
    .container{
        width: 70vw;
    }

     .container::before{
        filter: blur(0.7rem);
    }

    .msg{
        margin: 1rem 0 1rem 0;
    }
}